html, body {
  height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd; }

#book-img {
  float: right;
  padding-left: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Comic Sans MS", cursive, sans-serif; }

a {
  color: #c10000;
  text-decoration: none; }

a:hover {
  color: #e47b7b;
  text-decoration: underline; }

a:visited {
  color: #c10000; }

body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%; 
max-height: 100%; 
}

#framecontentTop{
position: fixed; 
left: 0; /*Set left value to WidthOfLeftFrameDiv*/
right: 0;
width: 100%;
height: 60px; /*Height of top frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color:#fff;
color: black;
}

#framecontentLeft{
position: fixed; 
top: 60px; /*Set to top value to HeightOfTopFrameDiv*/
bottom: 0; 
left: 0; 
width: 300px; /*Width of left frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: white;
color: black;
}


#maincontent{
position: fixed; 
left: 300px; /*Set left value to WidthOfLeftFrameDiv*/
top: 60px; /*Set top value to HeightOfTopFrameDiv*/
right: 0;
bottom: 0;
overflow: auto; 
background: #fff;
}

.innertube{
margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

* html body{ /*IE6 hack*/
padding: 120px 0 0 300px; /*Set value to (HeightOfTopFrameDiv 0 0 WidthOfLeftFrameDiv)*/
}

* html #maincontent{ /*IE6 hack*/
height: 100%; 
width: 100%; 
}

* html #framecontentTop{ /*IE6 hack*/
width: 100%;
}

.tg  {
border-collapse:collapse;border-spacing:0;border:none;
}

.tg td{
font-family:Arial, sans-serif;font-size:14px;padding:2px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;
}

.tg th{
font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;
}

.tg .tg-yw4l{
text-align:left;
vertical-align:top;
}

.rightjustified{
text-align:right;
vertical-align:top;
}

.tg .tg-9hbo{font-weight:bold;vertical-align:top}

.blank_row{ 
height: 10px !important; /* Overwrite any previous rules */background-color: #FFFFFF;
}
.tr-schedule:nth-child(even) {background: #CCC}
.tr-schedule:nth-child(odd) {background: #FFF}